/* MyApp/css/about_styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/static/MyApp/images/imagen2.png');
    background-size: cover;
    background-attachment: fixed;
    color: #333;
    text-align: center;
}

header {
    background: linear-gradient(90deg, rgba(0, 123, 255, 1) 0%, rgba(0, 200, 83, 1) 100%);
    color: white;
    text-align: center;
    padding: 1.5em 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    animation: slideIn 1s ease-out forwards;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ddd;
}

main {
    margin: 8em auto 0 auto;
    width: 90%;
    max-width: 1200px;
    padding: 2em 0;
}

section {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2em;
    margin-bottom: 2em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

h2 {
    color: #007bff;
    margin-top: 0;
    position: relative;
}

h2:after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: #007bff;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: expand 0.5s ease-in-out forwards;
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    margin-bottom: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    text-align: left;
    margin: 0 auto;
}

ul li {
    margin-bottom: 0.5em;
    font-size: 1.2em;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #007bff;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes expand {
    from {
        width: 0;
    }
    to {
        width: 50px;
    }
}
